<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>
<body>
	<!-- th:fragmentが付いているタグ内のHTMLが先程のテンプレート用のHTML内に追加される -->
	<div th:fragment="home_contents">
		<div class="page-header">
			<h1>勤怠</h1>
			</div>
			<table class="table table-bordered table-hover table-striped">
		        <tr>
		            <th class="info col-sm-2">氏名</th>
		            <th class="info col-sm-2">勤怠情報</th>
		            <th class="info col-sm-2">勤怠情報詳細</th>
		        </tr>
<!-- 		        <tr th:each="home : ${userHome}"> -->
<!-- 		        	<td th:text="${home.userName}"></td> -->
<!-- 		            <td th:text="${home.punch} ? '出勤' : '退勤'"></td> -->
<!-- 		            <td th:text="${#dates.format(home.attendanceDate, 'YYYY/MM/dd HH:mm:ss')}"></td> -->
<!-- 		        </tr> -->
		        
		    </table>
		    
		
	</div>

</body>
</html>